/* #pro{
    display: none!important;
} */

*{
    user-select: none;
   padding: 0;
   margin: 0; 
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
   vertical-align: baseline;
   overflow-x: 0;
}
html{
    scroll-behavior: smooth;
}
.main{
    display: block;
}
#pro > h1{
    text-align: center;
    margin-top: 20px;
}

/* *{
    background: black;
} */
/* navigation bar */
.nav{
    background: black;
    height: 80px;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    /* position: relative; */
    top: 0%;
    z-index: 999;
}

/*nav links */
.abcdefu{
    position: absolute;
    right: 10%;
    top: 30%;
    /* left: 60%; */
    word-spacing:94px;
    display: inline;
    font-size: 130%;
}

/* img in nav */
.img{
    
    position: absolute;
    top: 30%;
    left: 10%;
    right:90%
}

/* link  */
.abcdefu a{
    color:rgba(175, 175, 175, 1);
    font-style: none;
}

.abcdefu a:hover{
    color: white;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-underline-offset: 15px;
    text-decoration-color:rgb(255, 255, 255) ;
    text-decoration-thickness: 5px;
}

/* page */
section{
    height: 100vh;
    width: 100vw;
    max-width:100%;
    max-height: 100%;
    scroll-margin-top: 80px;
}

#home{
    background-image: url("shoe-3 1.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 50% 50%;



}

.home{
    position: relative;
    z-index:1;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top:30%;
    /* font-size: 4.4vw;  */
}

.home h1{
    font-size: 8vh;
    margin: .5%;
}

.home h6{
    font-size: 200%;    
}
.home button{
    font-size: 150%;
    font-weight: 900;
    background: #E59B05;
    color: white;
    padding: 19px 40px 19px 40px;
    border-radius: 8px;
    margin-top: 20px;
}
.black{

    /* background-color: rgba(0,0, 0,.5); */
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.81) 100%);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    z-index: 0;

}
.carousel{
    height: calc(100vh - 80px);
    /* height: 100vh; */
    width: 100vw;
    max-width: 100%;
}
.text-center{
    top: 0;
    height: calc(100vh - 80px);
    max-width: 100%!important;
    overflow: hidden!important;

}
.carousel-inner{
    overflow: visible!important;
    transform: translate(0px, 80%);

    top: 0;
    max-width: 100%!important;

}
.carousel-inner img{

    width: 300px;
    aspect-ratio: 1/1;
    transition: all linear 100ms;
    /* display: block; */
    background-image: url(Ellipse\ 1.png);
    /* position: relative; */
    /* background-size:80%; */
    background-repeat: no-repeat;
    background-position:center;
    /* background-position: bottom; */
    /* background-position-x: center; */
    /* background-position-y: top; */
}

#mainimg{
    position: relative;
    margin: auto;
}
#im12{
    position: absolute;
    margin-left: -30%;
}
#im11{
    position: absolute;
    margin-right: 45%;

}

.carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}



#fea{
    background: rgba(238, 238, 238, 1);

}

#fea h1{
    position: absolute;
    margin-top: 20px;
    /* top: 5%; */
    /* right: 40%;
    left: 40%; */
    text-align:center;
    width: 100%;

}


#carouselExampleIndicators{
    position: relative;
    /* top: 100px; */
}

.box {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    left: 50%;
    transform: translate(-50%, 130px);
    width: 90vw;
    padding: 10px;
    border-radius: 18px;
    background: radial-gradient(50% 50% at 50% 50%, #FAA700 0%, #E48D00 100%);
    text-align: left;
    text-align: left;

}
.text{
    text-align: left;
    margin-right: 440px;

}
.picbox {
    position: absolute;
    right: 2%;
    top: -22vh;
}




.box2 {
    position: relative;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, 205px);
    top: 50px;
    width: 90vw;
    border-radius: 18px;
    text-align: left;
    margin-bottom:50px;

    background: radial-gradient(50% 50% at 50% 50%, #6DD5ED 0%, #2193B0 100%);
}
.text2 {
    text-align: left;
    margin-left: 441px;
}

.picbox2 {
    position: absolute;
    /* right: 62%; */
    top: -17vh;
}




/* nav bar(small) */
#menuToggle{
    display: none;
}
 @media only screen and (max-width:779px){
    #navA{
        display: none!important;
        
    }
    .img{
        /* float:right; */
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
        /*position: absolute;
        left:0;
        transform:translate(50%,0%); */
        /* right: 50%;*/
    }
    .nav{
        display: flex;
        place-items: center;
    }
    #menuToggle
    {
      margin-left: 25px;  
      display: block;
      position: relative;
      /* top: 50px;
      left: 50px; */
      transform:scale(1.3) ;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
   
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      margin-left: 2vw;
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
 
  #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      /* background: #232323; */
    }
    

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
   
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #nav2
    {
        display: flex;
        place-items: center;
        justify-content: center;
        /* place-content: center; */
      position: absolute;
      width: 100vw;
      height: 100vh;
      /* max-width: 100%; */
      margin: -100px 0 0 -50px;
      /* padding-left: 0!important; */
      /* padding: 50px; */
      /* padding-top: 125px; */
      
      background: #474747b2;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      backdrop-filter: blur(10px);
    }
    #nav2 a{
        /* flex: none; */
        display: block;
    }
    
    #nav2 li
    {
      padding: 10px 0;
      font-size: 40px;
      color: white;
    }
    #nav2::before{
        content:"";
        left: 0;
        position: absolute;
        display: block;
        background: black;
        height: 100vh;
        width:110px;
    }
    .nav211{
        margin-top: -50px;
    }
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }

    #menuToggle a{
        color: black!important;
    }
 
    #nav2 li:active{
        color: black!important;
    }

    #nav2 li:active + #nav2{
        transform: translate(-100%, 0)!important;
    }


    .picbox >img ,.picbox2 > img{
        width: 200px;
    }
    .picbox {
        position: absolute;
        right: 10vw;
        top: -11vh;
        /* text-align: center; */
    }
    .text {
        /* vertical-align: middle; */
        text-align: center;
        margin-right: 0;
        margin-top: 15vh;
    }
    .box {
        /* display: flex; */
        /* justify-content: center; */
        position: relative;
        left: 50%;
        transform: translate(-50%, 130px);
        width: 81vw;
        height: 55vh;
        padding: 10px;
        border-radius: 18px;
        background: radial-gradient(50% 50% at 50% 50%, #FAA700 0%, #E48D00 100%);
        text-align: left;
        text-align: left;
    }
    .box2 {
        position: relative;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, 205px);
        top: 50px;
        width: 82vw;
        height: 52vh;
        border-radius: 18px;
        /* text-align: center; */
        /* vertical-align: middle; */
        background: radial-gradient(50% 50% at 50% 50%, #6DD5ED 0%, #2193B0 100%);
    }
    .picbox2 {
        position: absolute;
        right: 13vh;
        top: -11vh;
    }

     .text2 {
        margin-top: 13vh;
        text-align: center;
        margin-left: 0px;
        /* vertical-align: middle; */
    }
    .p {
        margin-top: 0;
        margin-bottom: 0;
    }
 }

@media only screen and (max-width:376px) and (max-height:741px) {
    p {
        margin-top: 0;
        margin-bottom: 0!important;

    }
    .text2 {
        margin-top: 9vh;
        text-align: center;
        margin-left: 0px;
        /* vertical-align: middle; */
    }
    .text {
        /* vertical-align: middle; */
        text-align: center;
        margin-right: 0;
        margin-top: 11vh;
    }
}

#home1{
    font-style: italic;
}

#home1:hover{
    /* background-: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color: black;
  color: lawngreen;
  text-shadow: 0 0 3px #000000, 0 0 5px #9dff00;

}
.home>h6:hover{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: magenta;
    text-shadow: 0 0 3px #f700ff, 0 0 5px #0000FF;
}
.home button:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.slide>h1{
    color:rgba(23, 53, 61, 1);
    font-style:oblique;
}
.abcdefu>a:active{
    color: chartreuse;
    /* outline: black; */
}
/* .picbox:hover,.picbox2:hover{
    transform: scale(1);
} */
#mainimg:hover{
    transform: scale3d(1.25,1.25,2);
    /* outline: rgba(21, 255, 0, 0.466) solid 4px; */
}
#im12:hover,#im11:hover{
    transform: scale(1.05);
}
#mainimg{
    position: relative;
    
    margin: auto;
}
#im12{
    position: absolute;
    margin-left: -30%;
    transform: scale(.75);
}
#im11{
    position: absolute;
    margin-left: 15%;
    transform: scale(.75);
}

.carousel-item {
    position: relative;
    top: -150px;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;}
    
    
    
    
    
    
    
    
    
@media only screen and (max-width: 1210px) {
    /* #mainimg{
        position: relative;
        margin: auto;
    }
    #im12{
        position: absolute;
        margin-left: -30%;
    }
    #im11{
        position: absolute;
        margin-right: 45%; */
    #im12,#im11{
            display: none!important;
    }
}