.a{
    background-color: aquamarine;
    border-top: dotted 6px palevioletred;
}
.b{
    background-color: palegreen;
    border-right: solid 5px #ff0000;
}
.c{
    background-color: #f0ff00;
    color: #ff3300;
    border-top: dotted 8px rgb(255, 0, 191) ;
    border-bottom: solid 6px pink;
}
.d{
    background-color: burlywood;
    border-bottom: solid 90px red;
}
