body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{

    font-size: 45px;
}
.our{
    font-size: 40px;
}
.column1 {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 40%;
    padding:  0 30px;

}

.column {
    border-radius: 15px;
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 40px;
}
.img{
    border-radius: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    font-size: 25px;
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    border-radius: 15px;
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}
.card{
border-radius: 15px;
}
.title {
    color: grey;
}

.button {
    border-radius: 10px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}