<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="about.css">
</head>

<body>

    <div class="about-section">
        <h1>About Us </h1>
        <p style="font: size = 25px" >Our digital resources, tools, and learning materials are developed by educational experts to incorporate
            leading pedagogical practices.</p>
        <p>Provide the opportunity for acquiring knowledge and skills that will enable people to develop their full
            potential, and become successful person in your life.</p>
    </div>

    <h2 style="text-align:center" class="our" >Our Team</h2>
    <div class="row1">
        <div class="column1">
            <div class="card">
                <img src="../images/shiv.jpg" alt="John" class="img" style="width:100%" >
                <div class="container">
                    <h2>Shivanshu Shukhla</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Let me introduce myself: I'm  ceo and founder of spark.I’m a web developer and designer. Officially my job is to  develop our Website. But really, I help companies tell in different  areas about our website and future programs.</p>
                    <p>shivanshushuklacse@delhitechnicalcampus.ac.in</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../images/md.jpeg" alt="Jane" class="img" style="width:100%">
                <div class="container">
                    <h2>Md Shamsuzzama Siddique</h2>
                    <p class="title">Senior Web developer</p>
                    <p>Myself Md Shamsuzzama Siddique, I'm the Senior Web developer . My job is to create the pages and
                        add new features, animation and also maintain the website for the satisfaction of the user.
                        My areas of interest are: Full Stack Developer , App development and AI,ML</p>
                    <p>mdshamsuzzama19@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../images/apit.jpeg" alt="Mike" class="img" style="width:100%">
                <div class="container">
                    <h2>Arpit Singh</h2>
                    <p class="title">Head of Editing and Marketing</p>
                    <p>Myself Arpit Kumar Singh, I'm the Head of Editing and Marketing. My job is to help in the
                        improvement of the website for the satisfaction of the user. Fetching the information on what
                        the user needs is my main job.
                        My areas of interest are: DevOps and Cloud Computing</p>
                    <p>arpitkumarsingh702@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../images/sand.jpeg" alt="John" class="img" style="width:100%">
                <div class="container">
                    <h2>Sandesh Verma</h2>
                    <p class="title">Designing head</p>
                    <p>Hello,Myself Sandesh Verma, I'm the Designing Head for Spark.My work lies in the development
                        and designing the UI for the website.I am focused on building UI smoother and beautiful so that everyone who comes to our website will be delighted to see it .
                        My areas of interest are: Frontend Developement ,App development ,ML and Data Science</p>
                    <p>sandeshv414@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>