<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <div class="about-section">
            <h1>About Us </h1>
            <p>Our digital resources, tools, and learning materials are developed by educational experts to incorporate leading pedagogical practices.</p>
            <p>Provide the opportunity for acquiring knowledge and skills that will enable people to develop their full potential, and become successful person in your life.</p>
        </div>

        <h1 style="text-align:center" class="our">Our Team</h1>
        <div class="row bg-light">
            <div class="column">
                <div class="card">
                    <img src="../images/shiv.jpg" alt="John" class="img" style="width:100%">
                    <div class="container">
                        <h2>Shivanshu Shukhla</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Let me introduce myself: I'm ceo and founder of spark.I’m a web developer and designer. Officially my job is to develop our Website. But really, I help companies tell in different areas about our website and future programs.</p>
                        <p>shivanshushuklacse@delhitechnicalcampus.ac.in</p>
                        <p><button class="button btn btn-primary">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="../images/md.jpeg" alt="Jane" class="img" style="width:100%">
                    <div class="container">
                        <h2>Md Shamsuzzama Siddique</h2>
                        <p class="title">Senior Web developer</p>
                        <p>Myself Md Shamsuzzama Siddique, I'm the Senior Web developer . My job is to create the pages and add new features, animation and also maintain the website for the satisfaction of the user. My areas of interest are: Full Stack Developer
                            , App development and AI,ML</p>
                        <p>mdshamsuzzama19@gmail.com</p>
                        <p><button class="button btn btn-primary">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="../images/apit.jpeg" alt="Mike" class="img" style="width:100%">
                    <div class="container">
                        <h2>Arpit Singh</h2>
                        <p class="title">Head of Editing and Marketing</p>
                        <p>Myself Arpit Kumar Singh, I'm the Head of Editing and Marketing. My job is to help in the improvement of the website for the satisfaction of the user. Fetching the information on what the user needs is my main job. My areas of
                            interest are: DevOps and Cloud Computing</p>
                        <p>arpitkumarsingh702@gmail.com</p>
                        <p><button class="button btn btn-primary">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="column">
                <div class="card">
                    <img src="../images/sand.jpeg" alt="John" class="img" style="width:100%">
                    <div class="container">
                        <h2>Sandesh Verma</h2>
                        <p class="title">Designing head</p>
                        <p>Hello,Myself Sandesh Verma, I'm the Designing Head for Spark.My work lies in the development and designing the UI for the website.I am focused on building UI smoother and beautiful so that everyone who comes to our website will
                            be delighted to see it . My areas of interest are: Frontend Developement ,App development ,ML and Data Science</p>
                        <p>sandeshv414@gmail.com</p>
                        <p><button class="button btn btn-primary">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>