<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us card || Learning robo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="motive.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="../images/motive4.jpg">
            </div>

            <div class = "content">
                <h2>Motive</h2>
                <span><!-- line here --></span>
                <p> Spark is working for the welfare of the student community, and our goal is to spread a healthy and convenient method of stress-free learning. Working in groups and interacting with fellow learners will help the mental health as well as skill level of beginners of today’s generation. Being a student, we want to create a bubble where people can have excess to multiple courses and services, like hand-made notes and room finding facility. Our goal is to expand our network beyond our own college and make Spark a global place for the nourishment of students. It’s our duty as learners and students to help everyone in the field with the problems we are facing ourselves.</p>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
    </body>
</html>