<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
    </style>
    <link rel="stylesheet" href="services.css" />
</head>

<body>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12 text-center" id="animate-charcter">
                    <h1 class="animate-charcter">SERVICES</h1>
                </div>
            </div>
        </section>

        <div class="flex-container">
            <div class="flex-child magenta row">
                <h3>Assignment in One click.</h3>
                <p>
                    Hey,connect with us to complete your assignment in one click and get in less time and one make better impression in between your friend circle and front of teacher also.
                </p>

                <!-- <a href="https://forms.gle/VD1f2xpRvfs4Kvhb9"><button class="button btn btn-success">Click Me</button></a> -->
                <div class="button">
                    <a href="https://forms.gle/VD1f2xpRvfs4Kvhb9"><button class="btn btn-success">Click Me</button></a>
                </div>
            </div>
            <div class="flex-child green">
                <div class="contain col-sm">
                    <img src="../images/COMING.png" alt="Avatar" class="image" />
                    <div class="overlay">
                        <div class="text mt-4 mr-5">
                            <h2>Get room in any city.</h2>
                            <p>
                                Bringing affordable and trusted <br> accommodation that guests can book instantly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>