<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
    </style>
    <link rel="stylesheet" href="services.css">
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="animate-charcter"> SERVICES</h1>
              </div>
            </div>
          </div>

    </section>

    <div class="flex-container">
        <div class="flex-child magenta">


            <h3>Assignment in One click. </h3>
      <p>Hey,connect with us to complete your assignment in one click and
        get in less time and one make better impression in between your
        friend circle and front of teacher also.</p>

        <a href="https://forms.gle/VD1f2xpRvfs4Kvhb9"><button class="button">Click Me</button></a>


        </div>
        <div class="flex-child green">

            <div class="contain">
                <img src="../images/COMING.png" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text"><h2>Get room in any city.</h2>
                  <p> Bringing affordable and trusted accommodation that guests can book instantly.</p></div>
                </div>
              </div>
        </div>
    </div>
</body>

</html>